<div class="container">
  <div id="title">
    <img src="../../assets/title.png" alt="titolo" id="imgTitle"/>
  </div>


    <div id="fly-in">
      <div><span>La Cipolla</span> di Tropea</div>
      <div>è così<span> CROCCANTE</span></div>
      <div>è così<span> DOLCE</span></div>
      <div><span>semplicemente</span> BUONISSIMA</div>
      </div>


  <div id="textSection">
    <p class="subtit">DESCRIZIONE</p>
    <p class="subtext">
      La Cipolla Rossa di Tropea Calabria IGP si riferisce all’ortaggio da bulbo
      allo stato fresco o secco della specie Allium cepa L. limitatamente agli
      ecotipi autoctoni Tondo Piatta (primaticcia), Mezza Campana (medio
      precoce) e Allungata (di maturazione tardiva). Si distinguono tre
      tipologie: Cipollotto, Cipolla da Consumo Fresco e Cipolla da Serbo.
    </p>

    <div class="d-flex justify-content-between mappaC">
      <div id="textMap">
        <p class="subtit">ZONA DI PRODUZIONE</p>
        <p class="subtext">
          La zona di produzione della Cipolla Rossa di Tropea Calabria IGP
          interessa la costa tirrenica calabrese medio-alta e comprende diversi
          comuni in provincia di Cosenza, Catanzaro e Vibo Valentia, nella
          regione Calabria.
        </p>
      </div>
      <div id="mappa">
        <img
          src="../../assets/cartina-cipolla-igp.jpg"
          alt="zona produzione cipolla"
          id="imgZonaProd"
        />
      </div>
    </div>

    <p class="subtit">METODO DI PRODUZIONE</p>
    <p class="subtext">
      A partire da agosto si effettua la semina, direttamente in campo, in
      vivaio o in contenitori alveolari e, quando le piantine hanno raggiunto
      idonee dimensioni, si effettua il trapianto. Il periodo di raccolta cambia
      a seconda della varietà: per la Tonda Piatta o primaticcia la raccolta si
      effettua da metà aprile a fine maggio; per la Mezza Campana o medio
      precoce da metà maggio a metà giugno; infine per la tipologia Allungata o
      tardiva la raccolta avviene da metà giugno a fine luglio. Successivamente
      alla raccolta i bulbi dei Cipollotti devono subire l’eliminazione della
      tunica esterna, la spuntatura delle code con taglio variabile tra i 30 e i
      60 cm e devono quindi essere posti in cassette disposti in fascetti. Per
      la Cipolla da Consumo Fresco i bulbi, privati dalla tunica esterna,
      vengono sottoposti all’eventuale taglio delle code (se queste risultano
      lunghe tra 35 e 60 cm) e sono poi riuniti in fasci e posti in cassoni o
      cassette. Per la Cipolla da Serbo, i bulbi vengono lasciati a essiccare
      nel terreno per almeno sette giorni, per poi essere conservati in luoghi
      freschi e asciutti.
    </p>
    <p class="subtit">ASPETTO E SAPORE</p>
    <p class="subtext">
      La Cipolla Rossa di Tropea Calabria IGP ha forma rotonda o ovoidale,
      involucro rosso ed è composta da varie tuniche concentriche carnose di
      colorito bianco. Al palato risulta particolarmente dolce. STORIA Fonti
      storiche e bibliografiche attribuiscono l’introduzione della cipolla nel
      bacino mediterraneo e in particolare in Calabria, prima ai Fenici e poi ai
      Greci. Molto apprezzata nel Medioevo e nel Rinascimento, era un prodotto
      fondamentale per l’alimentazione e per l’economia locale, venduta ed
      esportata via mare in Tunisia, Algeria e Grecia. Numerosi scritti di
      viaggiatori, che arrivarono in Calabria fra il Settecento e l’Ottocento,
      descrivono le meraviglie delle comuni cipolle rosse di Tropea dal gusto
      dolce e non pesante. La Cipolla Rossa di Tropea Calabria IGP si
      diffonderà, comunque, con maggiore impulso solamente in seguito, nel
      periodo borbonico.
    </p>
    <p class="subtit">GASTRONOMIA</p>
    <p class="subtext">
      La Cipolla Rossa di Tropea Calabria IGP si conserva fresca per pochi
      giorni, mentre il tipo intrecciato può essere conservato per poco più di
      un mese. Grazie alla sua dolcezza, risulta particolarmente indicata per la
      preparazione di insalate in abbinamento con altre verdure e formaggi. Si
      utilizzano anche le code del prodotto fresco, per la realizzazione di
      frittate. La cipolla disidratata viene usata prevalentemente nella
      preparazione di sughi. I bulbi di piccolo calibro sono ottimi per la
      preparazione di sottaceti. Con la Cipolla Rossa di Tropea Calabria IGP
      vengono realizzate marmellate e mostarde, ottime abbinate ai formaggi e
      alle carni, ma anche saporiti antipasti come "Cipolla Rossa di Tropea
      Calabria IGP alla tropeana", dove il prodotto è rosolato in padella
      insieme ai peperoncini piccanti e poi servito su crostini di pane.
    </p>

    <p class="subtit">COMMERCIALIZZAZIONE</p>
    <p class="subtext">
      Il prodotto è immesso in commercio come Cipolla Rossa di Tropea Calabria
      IGP nelle tipologie: Cipollotto e Cipolla da Consumo Fresco, allo stato
      verde, in mazzi e mazzetti; Cipolla da Serbo, allo stato secco, in trecce
      oppure scollettata all’interno di retini.
    </p>
    <p class="subtit">NOTA DISTINTIVA</p>

    <p class="subtext">
      La piacevolezza al palato della Cipolla Rossa di Tropea Calabria IGP è da
      imputare a fattori genetici, climatici e pedologici; è l’interazione di
      questi tre elementi a determinare caratteristiche organolettiche così
      eccelse. Se questi tre fattori non coesistessero, ovvero se la si
      coltivasse altrove, il prodotto sarebbe lungi dall’avere la stessa
      appetibilità.
    </p>
  </div>

  <div id="twiceSection" class="d-flex justify-content-between">
    <div class="twoDiv">
      <span class="twoTit">Organismo dei produttori</span>
      <img
        src="http://www.consorziocipollatropeaigp.com/images/loghi/logo-cipolla-rossa-di-tropea-igp-calabria.png"
        alt="logo consorzio cipolla tropea igp"
        id="imgConsorzio"
      />
      <p class="twoSubTxt">
        Consorzio di tutela della Cipolla Rossa di Tropea Calabria IGP
      </p>
      <p class="twoSubTxt">Via Roma - Vena Superiore</p>
      <p class="twoSubTxt">Vibo Valentia (VV)</p>
      <span>
        <a href="http://www.consorziocipollatropeaigp.com/" target="_blank"><i class="bi bi-globe-europe-africa"></i></a>
        <a href="https://www.instagram.com/cipolla_rossa_di_tropea_igp/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCVe_fuLf_kf8Kj7sxdbPMjw" target="_blank"><i class="bi bi-youtube text-danger"></i></a>
      </span>
    </div>
    <div class="twoDiv" id="twoSecond">
      <img src="https://www.qualivita.it/wp-content/uploads/2020/04/CSQA_ODC_web-1.jpg"
        alt="logo controllo cipolla tropea igp (csqa)"
        id="imgControll"
      /><span class="twoTit">Organismo di controllo</span>

      <p class="twoSubTxt">CSQA CERTIFICAZIONI S.R.L.</p>
      <p class="twoSubTxt">Via S. Gaetano, 74</p>
      <p class="twoSubTxt">Thiene (VI)</p>
      <span>
        <a href="https://www.csqa.it/" target="_blank"><i class="bi bi-globe-europe-africa"></i></a>
        <a href="https://www.linkedin.com/company/csqa-certificazioni-srl/" target="_blank"><i class="bi bi-linkedin text-primary"></i></a>
        <a href="https://twitter.com/csqacert" target="_blank"><i class="bi bi-twitter text-primary"></i></a>
    </span>
    </div>
  </div>
</div>

<app-background></app-background>
